/* место для вашего кода */

.content-section {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  align-items: center;
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  row-gap: 30px;
  column-gap: 30px;
}

.header__links-list-item {
  font-size: 18px;
  line-height: 21.13px;
  list-style: circle;
  color: black;
}

.header__links-list-item__no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  line-height: 21.13px;
  white-space: nowrap;
} /*white-space: nowrap; - значение, которое запрещает тексту переноситься на другую строку*/

.header__link-active {
  text-decoration: none;
}

.header-logo {
  display: block;
  width: 148px;
  align-self: center;
  justify-self: center;
  margin: 0px 184px 2px 36px;
}

.header-logo-image {
  width: 100%;
}

.header__address {
  justify-self: end;
  font-style: inherit;
}

.address {
  font-style: inherit;
}

.address_phone-number {
  display: block;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 18px;
  line-height: 24.3px;
}

.address_email {
  font-size: 18px;
  line-height: 24.3px;
  display: block;
  text-decoration: underline;
  text-underline-position: under;
}

.address-auction {
  font-size: 18px;
  line-height: 24.3px;
}

.main {
  display: flex;
  flex-direction: column;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 165px 50px 51px 50px;
  position: relative;
}

.overlay {
  background-color: rgb(0 0 0 / 0.6);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; /* Обеспечивает возможность кликов через элемент */
}

.cover__title {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  z-index: 2;
  position: relative;
  gap: 20px;
  line-height: 115px;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
}

.aligned_text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text-center {
  text-align: center;
  line-height: 100px;
}

.aligned-text-right {
  text-align: right;
  line-height: 100px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__descrpition {
  display: flex;
  z-index: 2;
  position: relative;
  padding: 136px 0px 0px 0px;
  align-items: center;
  justify-content: flex-end;
  gap: 80px;
}

.cover__descrpition-text {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 20px;
  color: #ffffff;
}

.bet-button {
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  padding: 12px 32px 11px 31px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
}

.lots {
  padding: 179px 24px 146px 24px;
  background-color: white;
}

.lots-heading {
  padding: 0px 891px 27px 40px;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 46.96px;
  font-weight: bold;
}

.lots-card-list {
  list-style: none;
  display: grid;
  column-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
}

.lots-card-list-item {
  display: flex;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.card-link {
  height: 100%;
  width: 100%;
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 28px;
  position: relative;
  padding: 51px 40px 48px 40px;
  width: auto;
  height: 100%;
}

.card_type_film {
  background-size: cover;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
}

.card_title {
  text-transform: uppercase;
  color: white;
  z-index: 1;
  position: relative;
  font-size: 22px;
  line-height: 26px;
  font-weight: bold;
  text-decoration-line: underline;
}

.card_text {
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  z-index: 1;
}

.card_type_book {
  background-size: cover;
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
}

.card_type_picture {
  background-size: cover;
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
}

.lots_look-more-link {
  text-decoration-line: underline;
  text-underline-position: under;
  display: block;
  color: #000;
  font-size: 20px;
  line-height: 23.48px;
  margin: 30px 102px 2px 40px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0px 50px 0px 50px;
  column-gap: 25px;
}

.about_column {
  justify-self: center;
}

.about_logo {
  background-color: black;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 150px;
}

.about_logo-image {
  width: 148px;
  height: 114px;
}

.about_title {
  padding: 100px 0px 104px 0px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  line-height: 46.96px;
}

.about_text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
  gap: 24px;
  font-weight: 400px;
  letter-spacing: normal;
}

.footer {
  padding: 180px 50px 88px 50px;
  display: flex;
  justify-content: space-between;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  line-height: 21px;
  font-size: 18px;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  height: 48px;
  width: auto;
}
